<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>popNavViewToTable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>43D386AA1D0495AE005FCBC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43D386BE1D0495AE005FCBC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43D386C91D0495AE005FCBC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
